



.ordered-tourist-page-container {
    background-color: #fff;
    padding: 20px;
    min-height: calc(100vh - 100px);

    .ordered-tourist-page-header {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #D7DCE3;
        .title {
            font-size: 28px;
            font-weight: 600;
            margin-bottom: 6px;
        }
        .sub-title {
            font-size: 16px;
            color: #6A6A6A;
        }
    }
    .search-area {
        margin-top: 10px;
        padding-bottom: 12px;
        border-bottom: 1px solid #D7DCE3;
        .search-area-upper {
            display: flex;
            flex-direction: column;  
            .search-group {
                display: block;
            }         
        }
        .search-area-below {
            display: flex;
            width: 100%;
            .search-group {
                width: 50%;
                position: relative;
            }
        }
        .button-area {
            margin-top: 10px;
            .btn-search,
            .btn-reset {
                padding: 10px 18px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                font-size: 14px;
            }
            .btn-search {
                margin-right: 20px;
                color: #fff;
                background-color: #df385f;
            }
            .btn-reset {
                background-color: #fff;  
                color: #000;
                border: 1px solid rgba(0,0,0,.34);
            }
        }

        .search-group {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            .search-label {
                display: block;
                margin-bottom: 8px;
                font-size: 18px;
                font-weight: 450;
                margin-right: 16px;
                width: auto;
            }
            // .search-input {
            //     display: block;
            //     width: 35%;
            //     box-sizing: border-box;
            //     border: 1px solid #dfdfdf;
            //     outline-width: thin;
            //     outline-color: #df385f;
            //     padding: 10px;
            //     font-size: 16px;
            //     border-radius: 5px;
            // }
            
            // .search-input::placeholder {
            //     color: #bdbdbd;
            // }
            .search-autocomplete {
                background-color: red;
                position: relative;               
            }
            .autocomplete-item {
                display: block;
                cursor: pointer;
            }
            .departure-date-input {
                padding: 10px;
                border: 1px solid #dfdfdf;
                cursor: pointer;
                position: relative;
                border-radius: 5px;
                font-size: 18px;
                .date-picker {
                    position: absolute;
                    left: calc(100% + 20px);
                    top: 0;
                    background-color: #fff;
                    border: 1px solid #D7DCE3;
                    z-index: 1;
                    animation: listGrowth ease 0.3s;
                    transform-origin: 50% top;
                    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
                }
            }
            .departure-date-input:hover {
                box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
            }
        }
    }
    .ordered-tourist-page-content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tour-name {
            margin: 0;
            max-width: 80%;
            font-weight: 400;
            font-size: 26px;
            text-align: center;
            text-transform: uppercase;
        }
        .departure-total-wrapper {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .departure,
            .total-count {
                font-size: 20px;
                margin-bottom: 10px;
            }
            .total-count {

            }
            .label {

            }
            .value {

            }
        }
        .tourist-groups-list {
            margin-top: 30px;
            width: 80%;
        }
    }
}