



.provider-main-container {
    //display: flex;
    overflow: hidden;

    .side-nav-wrap {
        align-self: stretch;       
    }

    .content-page-wrap {
        width: calc(100% - 250px);
        margin-left: 250px;
        background-color: #f6f6f6;

        .small-header {
            background-color: #331f1c;
            height: 90px;
        }
        .content-page {
            padding: 20px;
        }
    }
}
