



.message-card-wrapper {
    display: flex;
    .message-card--right,
    .message-card--left {
        word-break: break-word;
        box-sizing: border-box;
        // padding: 10px 16px;
        width: auto;
        //min-width: 65px;      
        //max-width: 250px;  
        margin-bottom: 8px;
        text-align: left;
        .message__content {
            background-color: #e4e6eb;
            border-radius: 20px;
            margin: 0;
            max-width: 250px; 
            font-size: 16px;
            line-height: 22px;
            padding: 10px 16px;
            display:inline-block;
            min-width: 65px;       
            text-align: left; 
        }
        .message__image {
            display: block;
            width: auto;
            height: 110px;
            margin-top: 2px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            cursor: pointer;
        }
        .message__image:first-child {
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }
    .message-card--right {
        margin-left: auto;   
        color: #fff;
        text-align: right;
        .message__content {
            background-color: #df385f;
        }
    }
    .message-card--right.wide,
    .message-card--left.wide {
        .message__content {
            max-width: 450px;
        }
        .message__image {
            display: block;
            width: auto;
            height: 200px;
            margin-top: 2px;
            border-radius: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            cursor: pointer;
        }
        .message__image:first-child {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}
.message-card-wrapper:first-child {
    margin-bottom: 5px;
}
.message-card-wrapper:last-child {
    margin-top: 5px;
}