


.order-card,
.order-card--departed,
.order-card--canceled {
    width: 100%;
    border: 1px solid #bdbdbd;
    padding: 20px;
    margin-bottom: 20px;

    .provider-info {
        margin-bottom: 10px;
        cursor: pointer;
        font-weight: 500;
    }
    .link {
        text-decoration: none;
        color: #000;
    }
    .link:hover {
        color: #df385f;
    }
    .order-id {
        margin-bottom: 10px;
        font-weight: 500;
    }
    .order-date {
        margin: 10px 0;
    }
    .order-content {
        display: flex;
        width: 100%;
    
        .left {
            width: 30%;
            padding-right: 15px;
            .tour-thumbnail {
                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                width: 85%;
                height: 0;
                padding-bottom: 85%;
                position: relative;

                .thumbnail-overlay {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: #000;
                    opacity: 0.4;
                }
                .thumbnail-label {                
                    text-align: center;
                    font-size: 36px;
                    font-weight: 500;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-14deg);                    
                    display: inline-block;
                    padding: 0.25rem 1rem;
                    text-transform: uppercase;
                    mix-blend-mode: inherit;
                }
                .departed {
                    color: #0cb930;
                    border: 0.2rem solid #0cb930;
                }
                .canceled {
                    color: #dd3700;
                    border: 0.2rem solid #dd3700;
                }
            }
        }
        .left.small {
            width: 30%;
        }
        // .right.small {
        //     width: 75%;
        // }
        .right {
            width: 66.66666666%;
            //width: 75%;

            //padding-left: 15px;
            
            .tour-order-title {
                padding: 0;
                margin: 0;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 12px;
                text-transform: uppercase;
                cursor: pointer;
            }
            .tour-order-title:hover {
                color: #df385f;
            }
            .tour-order-start-end {
                display: flex;
                flex-direction: column;
                span {
                    margin-bottom: 12px;
                    margin-left: -4px;
                    display: flex;
                    align-items: center;
                    svg {
                        margin-right: 5px;
                    }
                }
            }
            .tour-order-description {
                margin: 0;
                margin-bottom: 12px;
            }

            .tour-order-info {
                display: flex;
                justify-content: space-between;
                .tour-order-description-wrap {
                    width: 50%;
                    .tour-order-description {
                        margin: 0;
                        margin-bottom: 12px;

                        .order-state {
                            font-weight: 500;
                            // must be inline-block for ::first-letter to work
                            display: inline-block;  
                            font-size: 18px;
                        }
                        .order-state::first-letter {
                            text-transform: uppercase;
                        }
                        .order-state.pending {
                            color: #ffcc00;
                        }
                        .order-state.confirmed {
                            color: #64b450;
                        }
                        .order-state.canceled {
                            color: #cc3300;
                        }
                    }
                }
                .booking-detail-wrap,
                .tourist-information-wrap {
                    width: 50%;
                    small {
                        color: #df385f;
                        font-size: 16px;
                    }
                    .tour-order-price {
                        margin: 0;
                        margin-bottom: 12px;
                        .arrow-icon {
                            margin: 0 5px;
                        }
                    }
                    .tour-order-total-price {
                        margin: 0;
                        margin-bottom: 12px;
                        span {
                            font-weight: 500;
                        }
                    }
                    .tour-order-see-detail {
                        cursor: pointer;
                        user-select: none;
                        color: #0090c4;
                        margin-top: 12px;
                        margin-bottom: 12px;
                    }
                }        
            }
        }
    }
    .order-process {
        width: 66.66666666%;
        margin-left: auto; 
        margin-right: 8.33333333%;
        text-align: center;
        .order-process-button-wrap {
            .order-confirm,
            .order-cancel {
                padding: 10px 18px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                font-size: 14px;
            }
            .order-confirm {
                margin-right: 60px;
                color: #fff;
                background-color: #64b450;
            }
            .order-cancel {
                color: #fff;
                background-color: #cc3300;
            }
        }
    }
}
.order-card--departed {
    background-color: #e8f6ec;
    border-color: #56bd73;
}
.order-card--canceled {
    background-color: #fff2ee;
    border-color: #ff5622;
}