



.order-detail-page-wrapper {
    background-color: #fff;
    width: 75%;
    overflow-y: scroll;
    margin: 0 auto;
    .order-detail-page-content {
        width: 100%;
        padding: 0 20px;
        margin: 40px auto;
        .order-id {
            text-align: center;
            margin-bottom: 40px;
            font-size: 28px;
            font-weight: 500;
            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
        .order-billing-info {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .left {
                width: 30%;
                padding-right: 15px;
                .tour-thumbnail {
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    background-position-y: center;
                    width: 90%;
                    height: 300px;
                    //padding-bottom: 85%;
                }
            }
            .left.small {
                width: 30%;
            }
            // .right.small {
            //     width: 75%;
            // }
            .right {
                //width: 66.66666666%;
                width: 70%;
    
                //padding-left: 15px;
                
                .tour-order-title {
                    padding: 0;
                    margin: 0;
                    font-weight: 400;
                    font-size: 22px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    color: #000;
                }
                .tour-order-start-end {
                    display: flex;
                    flex-direction: column;
                    span {
                        margin-bottom: 10px;
                        margin-left: -4px;
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        svg {
                            margin-right: 5px;
                        }
                    }
                }
                .tour-order-description {
                    margin: 0;
                    margin-bottom: 10px;
                }
    
                .tour-order-info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;    
                    font-size: 16px;              
                    .tour-order-description-wrap {
                        width: 50%;
                        .tour-order-description {
                            margin: 0;
                            margin-bottom: 10px;
    
                            .order-state {
                                font-weight: 500;
                                // must be inline-block for ::first-letter to work
                                display: inline-block;  
                                font-size: 18px;
                            }
                            .order-state::first-letter {
                                text-transform: uppercase;
                            }
                            .order-state.pending {
                                color: #ffcc00;
                            }
                            .order-state.confirmed {
                                color: #64b450;
                            }
                            .order-state.canceled {
                                color: #cc3300;
                            }
                        }
                    }
                    .booking-detail-wrap,
                    .tourist-information-wrap {
                        width: 50%;
                        small {
                            color: #df385f;
                        }
                        .tour-order-price {
                            margin: 0;
                            margin-bottom: 10px;
                            .arrow-icon {
                                margin: 0 5px;
                                line-height: 16px;
                                vertical-align: center;
                            }
                        }
                        .tour-order-total-price {
                            margin: 0;
                            margin-bottom: 10px;
                            span {
                                font-weight: 500;
                            }
                        }
                    }        
                }
            }
        }
        .order-members {
            width: 80%;
            margin: 0 auto;
            margin-top: 40px;
            .section-title {
                margin: 0;
                text-align: center;
                font-weight: 400;
                font-size: 28px;
            }
            .section-sub-title {
                margin: 0;
                padding: 0;
                padding-left: 10%;
            }
            .adults-table { 
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 2px solid #DAE1E7;            
                .adults-table-heading {
                    display: flex;
                    margin-top: 20px;
                    span {
                        width: 25%;
                        text-align: center;
                    }
                    span.name {
                        text-align: left;
                    }
                }
                .adults-list {                   
                    .adult-item {
                        display: flex;
                        margin-top: 20px;
                        span {
                            width: 25%;
                            font-size: 18px;
                            text-align: center;
                        }
                        span.name {
                            text-align: left;
                        }
                    }
                }
            }
            .children-table {             
                .children-table-heading {
                    display: flex;
                    margin-top: 20px;
                    span {
                        width: 25%;
                        text-align: center;
                    }
                    span.name {
                        text-align: left;
                    }
                }
                .children-list {
                    padding-bottom: 20px;
                    border-bottom: 2px solid #DAE1E7;
                    .child-item {
                        display: flex;
                        margin-top: 20px;
                        span {
                            width: 25%;
                            font-size: 18px;
                            text-align: center;
                        }
                        span.name {
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}


// .order-card {
//     width: 100%;
//     border-bottom: 1px solid #dfdfdf;
//     padding-bottom: 20px;
//     margin-bottom: 20px;

//     .provider-info {
//         margin-bottom: 10px;
//         cursor: pointer;
//         font-weight: 500;
//     }
//     .link {
//         text-decoration: none;
//         color: #000;
//     }
//     .link:hover {
//         color: #df385f;
//     }
//     .order-id {
//         margin-bottom: 10px;
//         font-weight: 500;
//     }
//     .order-content {
//         display: flex;
//         width: 100%;
    
//         .left {
//             width: 30%;
//             padding-right: 15px;
//             .tour-thumbnail {
//                 background-size: cover;
//                 background-repeat: no-repeat;
//                 background-position-x: center;
//                 background-position-y: center;
//                 width: 85%;
//                 height: 0;
//                 padding-bottom: 85%;
//             }
//         }
//         .left.small {
//             width: 30%;
//         }
//         // .right.small {
//         //     width: 75%;
//         // }
//         .right {
//             width: 66.66666666%;
//             //width: 75%;

//             //padding-left: 15px;
            
//             .tour-order-title {
//                 padding: 0;
//                 margin: 0;
//                 font-weight: 400;
//                 font-size: 18px;
//                 margin-bottom: 10px;
//                 text-transform: uppercase;
//                 cursor: pointer;
//             }
//             .tour-order-title:hover {
//                 color: #df385f;
//             }
//             .tour-order-start-end {
//                 display: flex;
//                 flex-direction: column;
//                 span {
//                     margin-bottom: 10px;
//                     margin-left: -4px;
//                     display: flex;
//                     align-items: center;
//                     svg {
//                         margin-right: 5px;
//                     }
//                 }
//             }
//             .tour-order-description {
//                 margin: 0;
//                 margin-bottom: 10px;
//             }

//             .tour-order-info {
//                 display: flex;
//                 justify-content: space-between;
//                 .tour-order-description-wrap {
//                     width: 50%;
//                     .tour-order-description {
//                         margin: 0;
//                         margin-bottom: 10px;

//                         .order-state {
//                             font-weight: 500;
//                             // must be inline-block for ::first-letter to work
//                             display: inline-block;  
//                             font-size: 18px;
//                         }
//                         .order-state::first-letter {
//                             text-transform: uppercase;
//                         }
//                         .order-state.pending {
//                             color: #ffcc00;
//                         }
//                         .order-state.confirmed {
//                             color: #64b450;
//                         }
//                         .order-state.canceled {
//                             color: #cc3300;
//                         }
//                     }
//                 }
//                 .booking-detail-wrap,
//                 .tourist-information-wrap {
//                     width: 50%;
//                     small {
//                         color: #df385f;
//                     }
//                     .tour-order-price {
//                         margin: 0;
//                         margin-bottom: 10px;
//                         .arrow-icon {
//                             margin: 0 5px;
//                         }
//                     }
//                     .tour-order-total-price {
//                         margin: 0;
//                         margin-bottom: 10px;
//                         span {
//                             font-weight: 500;
//                         }
//                     }
//                 }        
//             }
//         }
//     }
//     .order-process {
//         width: 66.66666666%;
//         margin-left: auto; 
//         margin-right: 8.33333333%;
//         text-align: center;
//         .order-process-button-wrap {
//             .order-confirm,
//             .order-cancel {
//                 padding: 10px 18px;
//                 border: none;
//                 border-radius: 3px;
//                 cursor: pointer;
//                 font-size: 14px;
//             }
//             .order-confirm {
//                 margin-right: 60px;
//                 color: #fff;
//                 background-color: #64b450;
//             }
//             .order-cancel {
//                 color: #fff;
//                 background-color: #cc3300;
//             }
//         }
//     }
// }