

.review-item {
    display: flex;
    margin-bottom: 20px;
    .left {
        width: 48px;
        .user-avatar {
            height: 48px;
            width: 48px;
            border-radius: 50%;
        }
    }
    .right {
        flex: 1;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        span, p {
            text-align: left;
            margin: 0;
        }

        .header {
            text-align: left;
            margin-bottom: 3px;
            .user-name {
                font-weight: 500;
                margin-right: 15px;
            }
    
            .comment-date {
                margin-top: 3px;
                font-size: 14px;
                color: #999;
            }
        }
        .not-rated-label {
            font-size: 14px;
            color: rgb(122, 122, 122);
        }
        .comment-content {
            margin-top: 5px;
        }
    }
}