
.search-bar {
    display: flex;
    background-color: #fff;
    width: 90%;
    //min-width: 1200px;
    margin: 0 16px;
    color: #000;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    font-size: 16px;
    color: #a22531;
    height: 80px;

    label {
        font-size: 14px;
        display: block;
        color: #5E6D77;
        margin-bottom: 0;
    }
    p {
        margin-top: 5px;
        margin-bottom: 8px;
    }
    .icon {
        margin-right: 10px;
    }
    .place {
        width: 33.33333333%;
        padding-right: 15px;  
        border-right: 1px solid #D7DCE3;
        cursor: pointer;
        position: relative;
        z-index: 1;
        text-align: left;
        padding: 16px 0 14px 16px;
        display: flex;
        align-items: center;

        .destination-menu {
            display: block;
            // width: 100%; 
            width: 85%;  // something wrong about 100%, use this
            margin-top: 0;
            background-color: #fff;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            padding: 15px 30px;
            text-align: left;
            list-style: none;
            border-radius: 0 0 4px 4px;
            border: 1px solid #dfdfdf;
            max-height: 300px;
            overflow: hidden;
            overflow-y: scroll;
            color: #000;
            font-weight: 400;
            animation: listGrowth ease 0.3s;
            transform-origin: 50% top;

            .destination-item {
                padding: 6px 20px;
            }
            .destination-item:hover {
                background-color: #f5f4f7;
                color: #ec1943;
            }
        }
    }

    .date {
        width: 41.66666667%;
        padding-right: 15px; 
        border-right: 1px solid #D7DCE3;
        text-align: left;
        padding: 16px 0 14px 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        .data-range-picker{
            position: absolute;
            top: 100%;
            left: 0;
            animation: listGrowth ease 0.3s;
            transform-origin: 50% top;
        }
    }

    .advance-submit {
        width: 25%;
        display: flex;

        label {
            margin-top: -1px;
            margin-bottom: 4px;
        }

        .advance {
            width: 100%;
            padding: 16px 0 14px 16px;
            text-align: left;
            cursor: pointer;
            position: relative;

            .advance-menu {
                border: 1px solid #dfdfdf;
                position: absolute;
                z-index: 3;
                top: 100%;
                right: -53px;
                width: 620px;
                background-color: #fff;
                padding: 15px 32px;
                cursor: default;
                animation: listGrowth ease 0.3s;
                transform-origin: 50% top;

                .advance-menu-section {
                    input[type=checkbox] {
                        margin-right: 12px;
                    }
                    .item-title {
                        margin-bottom: 5px;
                        h4 {
                            color: #5E6D77;
                            font-size: 14px;
                            margin: 0;
                        }
                    }
                    .item-title:first-child {
                        display: inline-block;
                        margin-right: 20px;
                    }
                    .keyword {
                        display: inline-block;
                        margin-left: auto;
                        margin-bottom: 14px;
                        border: 1px solid #dfdfdf;
                        border-radius: 5px;
                        outline:none;
                        padding: 8px;
                        font-size: 16px;
                        width: 83.33333333%;
                        font-weight: 400;
                    }
                    .price-slider {
                        margin-top: 36px;
                        margin-bottom: 8px;
                    }
                    .tour-type {
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        cursor: pointer;

                        label, input {
                            cursor: pointer;
                            margin-bottom: 0;
                        }
                    }
                    .tour-categories {
                        display: flex;
                        flex-wrap: wrap;
                        height: 100px;
                        overflow: hidden;
                        overflow-y: scroll;

                        .item-category {
                            width: 33.33333333%;
                            padding-bottom: 12px;                         
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            label, input {
                                cursor: pointer;
                                margin-bottom: 0;
                            }
                        }
                    }        
                }
            }
        }
        .submit {
            display: block;
            height: 100%;
            width: 230px;
            border-radius: 0px 5px 5px 0px;
            margin-left: auto;
            font-weight: 500;
            color: #fff;
            border: none;
            cursor: pointer;
            //background: #a22531;

            animation: Gradient ease infinite;
            //background-size: 400% 400%;
            background: linear-gradient(
                -45deg,
                #eb294b,
                #dd2953,
            );
            @keyframes Gradient {
                0% {
                  background-position: 0% 50%;
                }
                50% {
                  background-position: 100% 50%;
                }
                100% {
                  background-position: 0% 50%;
                }
            }
        }
    }
}

@keyframes listGrowth {
    from {
        transform: scale(1,0);
        opacity: 0.8;
    }
    to {
        transform: scale(1,1);
        opacity: 1;
    }
}
