

.top-tours-container {
  width: 100%;
  margin: 0 -15px;
  position: relative;
  .title-section {
    width: 80%;
    margin: 0px auto;
    .title,
    .sub-title {
      padding: 0;
      margin: 0;
      text-align: left;
      font-weight: 400;
      padding-left: 15px;
    }
    .title {
      font-size: 32px;
    }
    .sub-title {
      margin-top: 5px;
      font-size: 18px;
    }
  }
  .top-tours-section {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 0px auto;
  }
  .top-tours-section.small {
      width: 80%;
  }
  .loading-container {
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: absolute;
    display: flex;
  }
}

.slider-wrap {
  width: 100%;
  margin: 25px auto 0;
}
.slider-wrap.small {
  width: 80%;
}

.slider-wrap.tiny {
  width: 30%;
}

