



.user-chat-box-wrapper {
    width: 380px;
    height: 480px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    box-shadow: 0 8px 12px rgb(0 0 0 / 18%);
    display: flex;
    flex-direction: column;

    .user-chat-box-header {
        display: flex;
        padding: 10px;
        align-items: center;
        background-color: #df385f;
        color: #fff;
        box-shadow: 0 1px 2px rgb(0 0 0 / 18%);
        .provider-avatar {
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            width: 40px;
            height: 40px;
            margin-right: 20px;
        }
        .provider-name {
            font-size: 18px;          
        }
        .close-chat-box-btn {
            padding: 8px;
            font-size: 20px;
            cursor: pointer;
            margin-left: auto
        }
    }
    .message-list {
        padding: 0 16px;
        overflow-y: scroll;
        flex: 1;
        border-bottom: 1px solid #dfdfdf;
        display: flex;
        flex-direction: column-reverse;
    }
    .message-input-section {
        margin-top: auto;
        padding: 18px 10px 18px 10px;
        box-sizing: border-box;
        display: flex;
        position: relative;
        .control-label {
            width: auto;
            margin-right: 5px;
            padding: 0 5px;
            display: flex;
            align-items: center;
            cursor: pointer;
            .icon {
                color: rgb(0, 132, 255);
                font-size: 20px;
            }
        }
        .control-label:hover {
            background-color: #f0f2f5;
        }
        .message-input {
            flex: 1;
            display: block;
            height: 42px;
            max-height: 80px;
            background-color: #f0f2f5;
            font-size: 16px;
            line-height: 22px;
            
            padding: 10px;
            outline: none;
            overflow: auto;
            resize: none;

            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border: none;
        }
        .input-image {
            display: none;
        }
        .image-preview {
            position: absolute;
            left: 45px;
            bottom: 85%;
            width: 120px;
            height: 80px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            border-radius: 10px;
            overflow: hidden;
            .image-overlay {
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.4;
            }
            .remove-btn {
                //color: #fff;
                position: absolute;
                // width: 24px;
                // height: 24px;
                line-height: 20px;
                top: 5px;
                right: 5px;
                // border: 1px solid #f0f0f0;
                // border-radius: 50%;
                cursor: pointer;

                svg {
                    font-size: 24px;
                    color: #f0f0f0;
                }
            }
        }
        .send-btn {
            cursor: pointer;
            background-color: transparent;
            border: none;
            font-size: 24px;
            margin-left: 5px;
            color: #dd2953;
        }
        .send-btn:hover {
            background-color: #f0f2f5;
        }
    }
    .typing-effect {
        display: flex;
        align-items: center;
    }
}